.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgb(0, 0, 0) 1% , rgb(206, 53, 245) 11% , rgb(131, 234, 82) 15% , rgb(242, 37, 26) 54% , rgb(199, 110, 249) 63% , rgb(0, 0, 0) 80% , rgb(81, 99, 165) 89%);
background: -o-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(206, 53, 245) 11% , rgb(131, 234, 82) 15% , rgb(242, 37, 26) 54% , rgb(199, 110, 249) 63% , rgb(0, 0, 0) 80% , rgb(81, 99, 165) 89%);
background: -ms-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(206, 53, 245) 11% , rgb(131, 234, 82) 15% , rgb(242, 37, 26) 54% , rgb(199, 110, 249) 63% , rgb(0, 0, 0) 80% , rgb(81, 99, 165) 89%);
background: -moz-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(206, 53, 245) 11% , rgb(131, 234, 82) 15% , rgb(242, 37, 26) 54% , rgb(199, 110, 249) 63% , rgb(0, 0, 0) 80% , rgb(81, 99, 165) 89%);
background: -webkit-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(206, 53, 245) 11% , rgb(131, 234, 82) 15% , rgb(242, 37, 26) 54% , rgb(199, 110, 249) 63% , rgb(0, 0, 0) 80% , rgb(81, 99, 165) 89%);






}